.BeginningImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .Sign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }